<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean id="message" class="com.demo.spring.Message">
		<constructor-arg value="let's learn Spring" />
	</bean> -->
	
	<bean id="message" class="com.demo.spring.Message">
		<constructor-arg value="We will not have Tea break now" />
	</bean>
	
	
	<bean id="greeter" class="com.demo.spring.Greeting"
		scope="singleton" autowire="byName">
		<!-- <property name="message" ref="message" /> -->
	</bean>

	<!-- <bean id="hello" class="com.demo.spring.Hello"> <property name="message" 
		value="Hello World of Spring" /> </bean> -->
</beans>
